<div class="home-video-wrapper align-items-center justify-content-center">
  <%= video_tag "succes_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
</div>

  <div class="banner-content">
    <h1>Playground</h1>
    <p>Tes activités à proximité!</p>

    <%= link_to "Activités", activites_path(@activite) %>

    <%= link_to "Entreprises", entreprises_path(@entreprise) %>

  </div>
