.card-activite {
background: white;                         /* White background */                           /* Internal space */
border-radius: 8px;                        /* Small radius */
box-shadow: 0 10px 30px rgba(0,0,0,.1);
width: 210px;
}

.maps-card {
  background-color: whitesmoke;
  justify-content: space-between;
}

.nom-entreprise {
  color: #FF8A65;
}

.button {
  color: black;
  background-color: #F6B969;
}

.titre-activites {
  margin-top: 56px;
  font-size: 24px;
  color: white;
}

.card-resa {
background: white;                         /* White background */                           /* Internal space */
border-radius: 8px;                        /* Small radius */
box-shadow: 0 10px 30px rgba(0,0,0,.1);
width: 100%;
margin-bottom: 20px;
}

#map {
  margin-top: 96px;
}
