.card-activite {
background: white;                         /* White background */                           /* Internal space */
border-radius: 8px;                        /* Small radius */
box-shadow: 0 10px 30px rgba(0,0,0,.1);
width: 210px;
}


.maps-card {
  background-color: whitesmoke;
  justify-content: space-between;
}

.nom-entreprise {
  color: #FF8A65;
}

.button {
  color: white;
  background-color: #FF8A65;
}
