<div class="container spaces-containers">

  <%= simple_form_for [ @activite, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.input :stars %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>

</div>
